/* ==========================
   全国ネットワークマップ
========================== */

.map{
    text-align:center;
}

.map .section-inner{
    max-width:1300px;
}

.japan-map{
    position:relative;
    max-width:1200px;
    margin:40px auto 0;
}

.japan-map img{
    width:100%;
    display:block;
}

.map-point{
    position:absolute;
}

.dot{
    width:12px;
    height:12px;

    background:#0F2D63;

    border-radius:50%;

    cursor:pointer;

    position:relative;
}

.dot::after{
    content:"";

    position:absolute;

    inset:-5px;

    border:2px solid #0F2D63;

    border-radius:50%;

    animation:pulse 2s infinite;
}


.dot.multi{

    width:14px;
    height:14px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0F2D63;

    color:#fff;

    font-size:12px;
    font-weight:700;

    border-radius:50%;
}

.dot.multi::after{
    content:"";

    position:absolute;

    inset:-1px;

    border:2px solid #0F2D63;

    border-radius:50%;

    animation:pulse 2s infinite;
}


@keyframes pulse{

    0%{
        transform:scale(1);
        opacity:1;
    }

    100%{
        transform:scale(2);
        opacity:0;
    }

}

.tooltip{
    position:absolute;

    bottom:30px;
    left:50%;

    transform:translateX(-50%);

    width:220px;

    background:#fff;

    padding:12px;

    border-radius:8px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    text-align:center;

    opacity:0;
    visibility:hidden;

    transition:.3s;

    z-index:100;
}

.map-point:hover .tooltip{
    opacity:1;
    visibility:visible;
}

.tooltip a{
    color:#0F2D63;
    font-weight:700;
    text-decoration:none;
}






.oohashi{
    top:17.1%;
    left:70.8%;
}

.toho{
    top:57.6%;
    left:66.5%;
}

.hyodo{
    top:57.8%;
    left:63.5%;
}

.marubeni{
    top:60.3%;
    left:62.2%;
}

/* NRT、flexworks */
.tokyo01{
    top:61.6%;
    left:63.5%;
}

.sanei{
    top:63.6%;
    left:62.5%;
}

.techno{
    top:55.4%;
    left:56.9%;
}

.torei{
    top:62.4%;
    left:58.1%;
}

.maruzen{
    top:67.6%;
    left:55%
}


/* 三岳、アルコ */
.aichi{
    top:64%;
    left:50.2%;
}

.seiko{
    top:63.8%;
    left:49.9%;
}

.suzukan{
    top:66.2%;
    left:49.9%;
}

.ravo{
    top:59%;
    left:48.7%;
}

.taiyo{
    top:65.6%;
    left:47.5%;
}

.sanwa{
    top:68%;
    left:45.3%;
}

.daiyacosmo{
    top:68.8%;
    left:47%;
}

.riseup{
    top:66%;
    left:42.5%;
}

.ainas{
    top:69.8%;
    left:42.3%;
}

.fukui{
    top:67.8%;
    left:38.5%;
}

.uematsu{
    top:72.2%;
    left:33.5%;
}

.mk{
    top:73.6%;
    left:23.3%;
}

.ito{
    top:75.6%;
    left:23.3%;
}

.sendai{
    top:85.2%;
    left:21.8%;
}